.container-carousel {
  position: relative;
  width: 100%;
}

h3 {
  margin-bottom: 15rem;
  font-size: 55px;
  text-transform: uppercase;
}

button {
  padding: 15px;
  width: 20%;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  /* margin-bottom: 15rem; */
}

button:hover {
  transform: scale(1.1);
}

.img {
  object-position: center;
  width: 100%;
  height: 650px;
  filter: brightness(60%);
}
